
* {
  font-family: Arial;
  font-size: 1.2em;
}
html, body{
    height: 900px;
    width: 600px;
}
.wrapper{
  display: grid;
  grid-template-columns:35% 65%;
  height:100%;
  grid-gap: 40px;
}
.rightpart{
  display: grid;
  width: 100%;
  grid-template-areas:
    "aa aa"
    "ab ab"
    "ac ad"
    "ar as"
    "ae ae"
    "af ag"
    "ah ak"
    "al am"
    "an an"
    "ao ap"
    ;
  grid-template-rows:22% 5% 10% 10% 5% 10% 10% 10% 5% 6%;
 
}
.firstrow{
  font-size:30px;
  line-height: 0.2px;
  
}
.namecolor{
  font-size:30px;
  color: #1E90FF;
}
.secondrow{
  font-size:16px;
  line-height: 0.2px;
  font-weight: bolder;
}
.underline{
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: #1E90FF;
}
section#aa{
  grid-area:aa;
  padding-top:50px;
}
section#ab{
  font-size:16px;
  grid-area:ab;
  border-bottom-style:solid;
  border-bottom-color: #1E90FF;
  display: flex;
  align-items: center;
  justify-content: left;
}
#graduationcap{
  filter: invert(44%) sepia(26%) saturate(4144%) hue-rotate(193deg) brightness(102%) contrast(102%);
  padding-right:20px;
}
section#ac{
  grid-area:ac;
  font-size: 9px;
  line-height: 10px;
  display: flex;
  align-items: top;
  justify-content: left;
}
#circleddot{
  padding-top: 15px;
  padding-right: 10px;
  filter: invert(44%) sepia(26%) saturate(4144%) hue-rotate(193deg) brightness(102%) contrast(102%);
}
section#ad{
  grid-area:ad;
  padding-left:20px;
  font-size:9px;
  line-height: 4px;
}
section#ar{
  grid-area:ar;
  font-size: 9px;
  line-height: 10px;
  display: flex;
  align-items: top;
  justify-content: left;
}
#dot{
  padding-top: 15px;
  padding-right: 10px;
  filter: invert(44%) sepia(26%) saturate(4144%) hue-rotate(193deg) brightness(102%) contrast(102%);
}
section#as{
  grid-area:as;
  padding-left:20px;
  font-size:9px;
  line-height: 4px;
}
section#ae{
  grid-area:ae;
  font-size:16px;
  border-bottom-style:solid;
  border-bottom-color: #1E90FF;
  display: flex;
  align-items: center;
  justify-content: left;
}
#briefcase{
  filter: invert(44%) sepia(26%) saturate(4144%) hue-rotate(193deg) brightness(102%) contrast(102%);
  padding-right:20px;
}
section#af{
  grid-area:af;
  font-size: 9px;
  line-height: 10px;
  display: flex;
  align-items: top;
  justify-content: left;
}
section#ag{
  grid-area:ag;
  padding-left:20px;
  font-size:9px;
  line-height: 4px;
}
section#ah{
  grid-area:ah;
  font-size: 9px;
  line-height: 10px;
  display: flex;
  align-items: top;
  justify-content: left;
}
#dot{
  padding-top: 15px;
  padding-right: 10px;
  filter: invert(44%) sepia(26%) saturate(4144%) hue-rotate(193deg) brightness(102%) contrast(102%);
}
section#ak{
  grid-area:ak;
  padding-left:20px;
  font-size:9px;
  line-height: 4px;
}
section#al{
  grid-area:al;
  font-size: 9px;
  line-height: 10px;
  display: flex;
  align-items: top;
  justify-content: left;
}
section#am{
  grid-area:am;
  padding-left:20px;
  font-size:9px;
  line-height: 4px;
}
section#an{
  grid-area:an;
  font-size:16px;
  border-bottom-style:solid;
  border-bottom-color: #1E90FF;
  display: flex;
  align-items: center;
  justify-content: left;
}
#pen{
  filter: invert(44%) sepia(26%) saturate(4144%) hue-rotate(193deg) brightness(102%) contrast(102%);
  padding-right:20px;
}
section#ao{
  grid-area:ao;
  font-size:9px;
  line-height: 4px;
}
section#ap{
  grid-area:ap;
  padding-left:120px;
  font-size:9px;
  line-height: 4px;
}
.leftPart {
  width:100%;
  height: 100%;
  display: grid;
  grid-template:24% 3% 24% 1.5% 40% 1.5% 20% ;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g";
}

section#a {
  grid-area: a;
  background-color:#1E90FF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:15px;
}
img {
  border-radius: 50%;
}


section#b {
  grid-area: b;
  font-size: 16px;
  color: #1E90FF;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height:1px;
}

section#c {
  padding-left: 30px;
  grid-area: c;
  text-align: left;
  font-size: 9px;
  background-color: #1E90FF;
}

section#d {
  grid-area: d;
  font-size: 16px;
  color: #1E90FF;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height:1px;
}

section#e {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 9px;
  grid-area: e;
  background-color:#1E90FF;
}
section#f {
  grid-area:f;
   font-size: 16px;
  color: #1E90FF;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height:1px;
}
section#g {
  grid-area: g;
  background-color:#1E90FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
#book{
  padding-right:20px;
}
#volleyball{
  padding-left:20px;
}